<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <title>[PICK] para-anno</title>

    <style>
      .matched {color:red};
    </style>
    
  </head>
  <body>


    <div class="container">

      <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="{{app_root}}/">home</a></li>
	  <li class="breadcrumb-item"><a href="{{app_root}}/ann/{{batchfile}}">{{batchfile}}</a></li>
	  <li class="breadcrumb-item active"><a href="{{app_root}}/ann/{{batchfile}}/{{pairseq}}">{{pairseq}}</a></li>
	</ol>

      
      <div class="row">
	<div class="col-1 p-1">
	{% if pairseq > 0 %}<a type="button" class="btn btn-sm btn-info" id="prevdoc" href="{{app_root}}/ann/{{batchfile}}/{{pairseq-1}}"><span class="fa fa-chevron-left"/></a>&nbsp;{% endif %}
	</div>
	<div class="col-1 p-1">
	  {% if not is_last %}<a tabindex="50" type="button" class="btn btn-sm btn-info" id="nextdoc" href="{{app_root}}/ann/{{batchfile}}/{{pairseq+1}}"><span class="fa fa-chevron-right"/></a>&nbsp;{% endif %}
	</div>
	<div class="col-1"></div>
	<div class="col-3" id="matchlencutoff">{{pair_num}} pairs picked</div>
	<div class="col-6"></div>
      </div>
      
      <div class="row">
	<div class="col-6 p-3 border" style="height:80vh;max-height:80vh;overflow-y:scroll;" id="text-left">
	  {%- for txt, spanclass in left_spandata -%}
	  {%- set lines=txt.split("\n") -%}
	  {%- set currentspan=loop.index -%}
	  <span class="matchspan" id="lspan{{loop.index}}" mlen="{{spanclass}}">
	    {%- for l in lines -%}
	    <span id="lspan-{{currentspan}}-{{loop.index}}">{{l|safe}}</span>{% if not loop.last %}<br/><br/>{% endif %}
	    {%- endfor -%}
	  </span>
	  {%- endfor -%}
	</div>
	
	<div class="col-6 p-3 border" style="height:80vh;max-height:80vh;overflow-y:scroll;" id="text-right">
	  {%- for txt, spanclass in right_spandata -%}
	  {%- set lines=txt.split("\n") -%}
	  {%- set currentspan=loop.index -%}
	  <span class="matchspan" id="rspan{{loop.index}}" mlen="{{spanclass}}">
	    {%- for l in lines -%}
	    <span id="rspan-{{currentspan}}-{{loop.index}}">{{l|safe}}</span>{% if not loop.last %}<br/><br/>{% endif %}
	    {%- endfor -%}
	  </span>
	  {%- endfor -%}
	</div>

      </div>

      <!-- here go the annotations! -->
      <!--
      <div class="row border" style="max-height:40vh;overflow-y:scroll">
	<div class="col-12 container" id="annotations">
	  {% if not locked %}
	    {% for ann in annotation %}
	    <div class="row border oneann">
	      <div class="col-1">
	        <a href="#" class="killann"> <span class="fa fa-trash-o" /></a>{% if ann.focusid_left %}<a href="#" class="focuspair" focusid-left="{{ann.focusid_left}}" focusid-right="{{ann.focusid_right}}" anchorid-left="{{ann.anchorid_left}}" anchorid-right="{{ann.anchorid_right}}" ><span class="fa fa-hand-pointer-o" /></a>{% endif %}
	      </div>
           
	      <div class="col-11">
	        <textarea class="anntext editdirty" style="width:100%;">{{ ann.txt }}</textarea>
	      </div>
	    </div>
	    {% endfor %}

	    
	  {% else %}
	    {% for ann in annotation %}
	    <div class="row border oneann">
	      <div class="col-1">
		{% if ann.focusid_left %}<a href="#" class="focuspair" focusid-left="{{ann.focusid_left}}" focusid-right="{{ann.focusid_right}}" anchorid-left="{{ann.anchorid_left}}" anchorid-right="{{ann.anchorid_right}}" ><span class="fa fa-hand-pointer-o" /></a>{% endif %}
	      </div>
           
	      <div class="col-11">
		<span style="white-space: pre-line">{{ ann.txt }}</span>
	      </div>
	    </div>
	    {% endfor %}
	  {% endif %}
	    -->	  
	<!--</div> <!-- container -->
      <!--</div> <!-- row-->
    <!--</div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      function hide_match_cutoff() {
	  $.each($(".matchspan"), function(i,e) {
	      if (parseInt($(this).attr("mlen"))<1) {
		  $(this).removeClass("matched");
	      }
	      else {
		  $(this).addClass("matched");
	      }
	  });
      }


      $(document).ready(
	  function() {
	      $("#matchlencutoff").on("input",function(){
		  hide_match_cutoff($(this).val());
              });
	      $("#matchlencutoff").trigger("input");
	  }
      );
    </script>

    
  </body>
</html>
