<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <title>[PICK] para-anno</title>

    <style>
      .matched {color:darkgrey};
    </style>
    
  </head>
  <body>


    <div class="container">

      <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="{{app_root}}/">home</a></li>
	  <li class="breadcrumb-item"><a href="{{app_root}}/ann/{{user}}">{{user}}</a></li>
	  <li class="breadcrumb-item"><a href="{{app_root}}/ann/{{user}}/{{batchfile}}">{{batchfile}}</a></li>
	  <li class="breadcrumb-item active"><a href="{{app_root}}/ann/{{user}}/{{batchfile}}/{{pairseq}}">{{pairseq}}</a></li>
	</ol>

      
      <div class="row">
	<div class="col-1 p-1">
	{% if pairseq > 0 %}<a type="button" class="btn btn-sm btn-info" id="prevdoc" href="{{app_root}}/ann/{{user}}/{{batchfile}}/{{pairseq-1}}"><span class="fa fa-chevron-left"/></a>&nbsp;{% endif %}
	</div>
	<div class="col-1 p-1">
	  {% if not is_last %}<a tabindex="50" type="button" class="btn btn-sm btn-info" id="nextdoc" href="{{app_root}}/ann/{{user}}/{{batchfile}}/{{pairseq+1}}"><span class="fa fa-chevron-right"/></a>&nbsp;{% endif %}
	</div>
	<div class="col-1 p-1">
	  {% if not locked %} <button type="button" class="btn btn-sm btn-info" id="save">Save</button> {% else %} <button type="button" class="btn btn-sm btn-info" id="save">Locked</button> {% endif %}
	</div>
	<div class="col-1"></div>

	<!-- <div class="col-4 p-1"> -->
	<!--   {% if pairseq > 0 %}<a type="button" class="btn btn-sm btn-dark" id="prevdoc" href="{{app_root}}/ann/{{user}}/{{batchfile}}/{{pairseq-1}}"><span class="fa fa-chevron-left"/></a>&nbsp;{% endif %} -->
	<!--   {% if not is_last %}<a type="button" class="btn btn-sm btn-dark" id="nextdoc" href="{{app_root}}/ann/{{user}}/{{batchfile}}/{{pairseq+1}}"><span class="fa fa-chevron-right"/></a>&nbsp;{% endif %} -->
	<!--   <button type="button" class="btn btn-sm btn-dark" id="save">Save</button> -->
	<!-- </div> -->
	<div class="col-6 p-1">
	  Hide: short&nbsp;<input type="range" class="custom-range" val="{{mlenv}}" id="matchlencutoff" min="{{min_mlen}}" max="{{max_mlen}}" step="1">&nbsp;long
	</div>
      </div>
      
      <div class="row">
	<div class="col-6 p-3 border" style="height:50vh;max-height:50vh;overflow-y:scroll;" id="text-left">
	  {%- for txt, spanclass in left_spandata -%}
	  {%- set lines=txt.split("\n") -%}
	  {%- set currentspan=loop.index -%}
	  <span class="matchspan" id="lspan{{loop.index}}" mlen="{{spanclass}}">
	    {%- for l in lines -%}
	    <span id="lspan-{{currentspan}}-{{loop.index}}">{{l|safe}}</span>{% if not loop.last %}<br/><br/>{% endif %}
	    {%- endfor -%}
	  </span>
	  {%- endfor -%}

	  <!-- {% for txt, spanclass in left_spandata %}<span class="matchspan" id="lspan{{loop.index}}" mlen="{{spanclass}}">{{txt | replace('\n', '<br/><br/>')|safe}}</span>{% endfor %} -->
	</div>
	
	<div class="col-6 p-3 border" style="height:50vh;max-height:50vh;overflow-y:scroll;" id="text-right">
	  {%- for txt, spanclass in right_spandata -%}
	  {%- set lines=txt.split("\n") -%}
	  {%- set currentspan=loop.index -%}
	  <span class="matchspan" id="rspan{{loop.index}}" mlen="{{spanclass}}">
	    {%- for l in lines -%}
	    <span id="rspan-{{currentspan}}-{{loop.index}}">{{l|safe}}</span>{% if not loop.last %}<br/><br/>{% endif %}
	    {%- endfor -%}
	  </span>
	  {%- endfor -%}
	</div>

      </div> <!-- row-->

      {% if not locked %}
      <div class="row border mt-3">
	<div class="col-6 border">
	  <textarea class="editdirty" style="width:100%;" id="text-left-inp"></textarea>
	  <span id="text-left-foc"></span>
	</div>
	<div class="col-6 border">
	  <textarea class="editdirty" style="width:100%;" id="text-right-inp"></textarea>
	</div>

      </div>

      <div class="row mt-1">
	
	<div class="col-8" align="center">
	  <button class="button button-lg" id="addbutton">ADD</button>
	</div>


      </div>
      {% endif %}

      <div class="row border" style="max-height:40vh;overflow-y:scroll">
	<div class="col-12 container" id="annotations">
	  {% if not locked %}
	    {% for ann in annotation %}
	    <div class="row border oneann">
	      <div class="col-1">
	        <a href="#" class="killann"> <span class="fa fa-trash-o" /></a>{% if ann.focusid_left %}<a href="#" class="focuspair" focusid-left="{{ann.focusid_left}}" focusid-right="{{ann.focusid_right}}" anchorid-left="{{ann.anchorid_left}}" anchorid-right="{{ann.anchorid_right}}" ><span class="fa fa-hand-pointer-o" /></a>{% endif %}
	      </div>
           
	      <div class="col-11">
	        <textarea class="anntext editdirty" style="width:100%;">{{ ann.txt }}</textarea>
	      </div>
	    </div>
	    {% endfor %}

	    
	  {% else %}
	    {% for ann in annotation %}
	    <div class="row border oneann">
	      <div class="col-1">
		{% if ann.focusid_left %}<a href="#" class="focuspair" focusid-left="{{ann.focusid_left}}" focusid-right="{{ann.focusid_right}}" anchorid-left="{{ann.anchorid_left}}" anchorid-right="{{ann.anchorid_right}}" ><span class="fa fa-hand-pointer-o" /></a>{% endif %}
	      </div>
           
	      <div class="col-11">
		<span style="white-space: pre-line">{{ ann.txt }}</span>
	      </div>
	    </div>
	    {% endfor %}
	  {% endif %}

	  <!-- here go the annotations! -->
	  
	</div> <!-- container -->
      </div> <!-- row-->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>

      var docpairpath_glob='{{user}}/{{batchfile}}/{{pairseq}}';

      function dirty() {
	  $("#prevdoc").addClass("disabled");
	  $("#nextdoc").addClass("disabled");
	  $("#save").css("background-color","");
	  
      }

      function clean() {
	  $("#prevdoc").removeClass("disabled");
	  $("#nextdoc").removeClass("disabled");
      }
	  
	  
      function get_all_data() {
	  var anns=[];
	  $.each($(".oneann"), function (i,e) {
	      elem_a=$(".anntext",$(this));
	      elem_f=$(".focuspair",$(this));
	      anns.push({"txt":elem_a.val(),"focusid_left":elem_f.attr("focusid-left"), "focusid_right":elem_f.attr("focusid-right"), "anchorid_left":elem_f.attr("anchorid-left"), "anchorid_right":elem_f.attr("anchorid-right")});
	  }
		);
	  return anns;
      }

      function save_data() {
	  var all_data=get_all_data();
	  var docpairpath = docpairpath_glob;
	  $.ajax({type: 'POST',
		  url: "{{app_root}}/saveann/"+docpairpath,
		  data: JSON.stringify(all_data),
		  contentType: 'application/json',
		  timeout: 3000,
		  error: function () { $("#save").css("background-color","red"); },
		  success: function () { $("#save").css("background-color","green"); clean(); }
		 }
	  );
	      
      }

      function hide_match_cutoff(n) {
	  $.each($(".matchspan"), function(i,e) {
	      if (parseInt($(this).attr("mlen"))<n) {
		  $(this).removeClass("matched");
	      }
	      else {
		  $(this).addClass("matched");
	      }
	  });
      }
      
      function make_new_pair() {
	  elem=`
<div class="row border oneann">
<div class="col-1">
<a href="#" class="killann"><span class="fa fa-trash-o" /></a><a href="#" class="focuspair" focusid-left="_" focusid-right="_" ><span class="fa fa-hand-pointer-o" /></a></div>
<div class="col-11"><textarea class="anntext" style="width:100%;"></textarea></div>
</div>`
	  t1=$.trim($("#text-left-inp").val()).replace(/[\r\n]+/g," ");
	  t2=$.trim($("#text-right-inp").val()).replace(/[\r\n]+/g," ");
	  if (t1=="" || t2=="") return;
	  e=$(elem).prependTo($("#annotations"));
	  $(".anntext",$(e)).val(t1+"\n"+t2);
	  $(".focuspair",$(e)).attr("focusid-left",$("#text-left-inp").attr("focusid"));
	  $(".focuspair",$(e)).attr("focusid-right",$("#text-right-inp").attr("focusid"));
	  $(".focuspair",$(e)).attr("anchorid-left",$("#text-left-inp").attr("anchorid"));
	  $(".focuspair",$(e)).attr("anchorid-right",$("#text-right-inp").attr("anchorid"));
	  
	  
	  $("#text-left-inp").val("");
	  $("#text-right-inp").val("");
	  dirty();
	  save_data();
      }


      function focuspair() {
	  lid=$(this).attr("focusid-left");
	  rid=$(this).attr("focusid-right");
	  //console.log(lid);
	  //console.log(rid);
	  document.getElementById(lid).scrollIntoView(); // TODO focus or anchor?
	  document.getElementById(rid).scrollIntoView();
      }
	  
      
      function kill_ann() {
	  $(this).parent().parent().remove();
	  dirty();
      }

      function copy_sel() {
	  var srcid="#"+$(this).attr("id");
	  selection=window.getSelection();

	  //Selection.anchorNode - Returns the Node in which the selection begins.
      //Selection.focusNode - Returns the Node in which the selection ends.
	  if (selection.anchorNode.childNodes.length == 0) { // this is text node, take parent span
	      anchorid=selection.anchorNode.parentElement.id;
	  } else {
	      //this is the larger span node
	      for (i=selection.anchorOffset; i<selection.anchorNode.childNodes.length; i++) {
		  realanchor=selection.anchorNode.childNodes[i];
		  if (realanchor.tagName=="SPAN") break;
	      }
	      console.log("REALANCHOR",realanchor);
	      anchorid=realanchor.id; // this is span, take it directly
	  }
	  console.log("ANCHOR",anchorid);
	    
	  if (selection.focusNode.childNodes.length == 0) {
	    focusid=selection.focusNode.parentElement.id;
	  } else {
	      //this is the larger span node
	      for (i=selection.focusOffset; i>=0; i--) {
		  realfocus=selection.focusNode.childNodes[i];
		  if (realfocus.tagName=="SPAN") break;
	      }
	      focusid=realfocus.id; // this is span, take it directly
	    }
	    
	  console.log("FOCUS",focusid);
	  text = selection.toString().replace(/[\r\n]+/g," ");
	  $(srcid+"-inp").val(text);//$(this).val());
	  $(srcid+"-inp").attr("focusid",focusid);//store the focus here
	  $(srcid+"-inp").attr("anchorid", anchorid);
	  
	  //console.log(selection);
	  //console.log(anchorid, anchor_offset, focusid, focus_offset);
	  
      }

      $(document).ready(
	  function() {
	      $("#matchlencutoff").on("input",function(){
		  hide_match_cutoff($(this).val());
              });
	      $("#matchlencutoff").trigger("input");
	      $("#addbutton").on("click",make_new_pair);
	      $("#save").on("click",save_data);
	      $("#text-left").on("mouseup",copy_sel);
	      $("#text-right").on("mouseup",copy_sel);
	  }
      );

      $(document).on("click",".killann", kill_ann);
      $(document).on("input",".editdirty",dirty);
      $(document).on("click",".focuspair",focuspair);

      </script>

    
  </body>
</html>
